### Import the required libraries

In [ ]:
import pandas as pd
import numpy as np

### Load the Data

In [ ]:
df = pd.read_csv('Depression and  Happiness Factor Analysis_1604050.csv')
df.head()

,Which year are you in?,How are you feeling right now?,"On a scale of 1-100, how would you express this feeling?",Gender,Age,Your location ?,Relationship status,Are you happy with your financial state?,How much have you succeeded to cope up with the environment of your educational institution?,Understanding with your family members?,Are you feeling pressure in your study or work right now?,Are you satisfied with your academic result?,Are you happy with your living place?,Who supports you when you are not succeeding in your academic life?,Have you used any social media within the last 6 hours?,Do you have inferiority complex?,Are you satisfied with your meal today?,Are you feeling sick/health issues today?,"Have you done any recreational activity (sports, gaming, hobby etc.) today?",How long did you sleep last night?(in hours)
0,4th year,Normal,50,Male,25,Home,In a relationship,Yes,3,Normal,No,No,Yes,Not applicable,Yes,No,Yes,No,No,6
1,4th year,Good,80,Male,25,Home,In a relationship,Yes,3,Good,No,No,Yes,No one,Yes,No,Neutral,No,No,6
2,4th year,Very good,90,Male,25,Home,In a relationship,Yes,3,Normal,No,No,Yes,No one,Yes,Maybe,Yes,No,No,7
3,4th year,Normal,70,Male,25,Home,In a relationship,Yes,3,Normal,No,No,Yes,No one,Yes,Maybe,Neutral,No,No,8
4,1st year,Normal,50,Male,22,Home,In a relationship,Yes,3,Normal,Yes,No,Yes,No one,No,No,Yes,No,No,6

### Renaming the Columns

In [ ]:
df.columns = ['Education', 'Emotion_category','Scale','Gender','Age','Location','Relationship_status','Financial_state',' cope_with_environment','Understanding_with_family',
              'Feeling_in_study_work','Academic_result','Living_place','Who_supports?','social_media_activity','Inferiority_complex?','Todays_meal','Health_issues',
            'Recreational_activity','Sleeping_last_night']

df.head()

,Education,Emotion_category,Scale,Gender,Age,Location,Relationship_status,Financial_state,cope_with_environment,Understanding_with_family,Feeling_in_study_work,Academic_result,Living_place,Who_supports?,social_media_activity,Inferiority_complex?,Todays_meal,Health_issues,Recreational_activity,Sleeping_last_night
0,4th year,Normal,50,Male,25,Home,In a relationship,Yes,3,Normal,No,No,Yes,Not applicable,Yes,No,Yes,No,No,6
1,4th year,Good,80,Male,25,Home,In a relationship,Yes,3,Good,No,No,Yes,No one,Yes,No,Neutral,No,No,6
2,4th year,Very good,90,Male,25,Home,In a relationship,Yes,3,Normal,No,No,Yes,No one,Yes,Maybe,Yes,No,No,7
3,4th year,Normal,70,Male,25,Home,In a relationship,Yes,3,Normal,No,No,Yes,No one,Yes,Maybe,Neutral,No,No,8
4,1st year,Normal,50,Male,22,Home,In a relationship,Yes,3,Normal,Yes,No,Yes,No one,No,No,Yes,No,No,6

### Splitting the Data According to Education Year

In [ ]:
basket_1st_year = (df[df['Education'] =="1st year"]
        .groupby(['Emotion_category', 'Location'])['Scale']
        .sum().unstack().reset_index().fillna(0)
        .set_index('Emotion_category'))
basket_1st_year

Location          Department    Home  Playground
Emotion_category
Bad                    372.0   328.0         0.0
Good                  1499.0  1971.0        80.0
Normal                 468.0   232.0         0.0
Very bad                68.0    53.0         0.0
Very good             4706.0   545.0        99.0

In [ ]:
basket_2nd_year = (df[df['Education'] =="2nd year"]
        .groupby(['Emotion_category', 'Location'])['Scale']
        .sum().unstack().reset_index().fillna(0)
        .set_index('Emotion_category'))
basket_2nd_year

Location          Department  Home
Emotion_category
Bad                      205    71
Good                    1819   894
Normal                  1421   689
Very bad                  32    23
Very good                183  3243

In [ ]:
basket_3rd_year = (df[df['Education'] =="3rd year"]
        .groupby(['Emotion_category', 'Location'])['Scale']
        .sum().unstack().reset_index().fillna(0)
        .set_index('Emotion_category'))
basket_3rd_year

Location          Department    Home  Playground
Emotion_category
Bad                    358.0   219.0         0.0
Good                   288.0   974.0        80.0
Normal                 444.0  3018.0        55.0
Very bad               320.0    85.0         0.0
Very good                0.0   648.0         0.0

In [ ]:
basket_4th_year = (df[df['Education'] =="4th year"]
        .groupby(['Emotion_category', 'Location'])['Scale']
        .sum().unstack().reset_index().fillna(0)
        .set_index('Emotion_category'))
basket_4th_year

Location          Department    Home  Playground
Emotion_category
Bad                    356.0   652.0         0.0
Good                   230.0  4218.0       159.0
Normal                 357.0   435.0       112.0
Very bad                58.0    56.0         0.0
Very good               97.0  3270.0         0.0

In [ ]:
basket_Not_applicable = (df[df['Education'] =="Not applicable"]
        .groupby(['Emotion_category', 'Location'])['Scale']
        .sum().unstack().reset_index().fillna(0)
        .set_index('Emotion_category'))
basket_Not_applicable

Location          College  Department   Home  Playground  School
Emotion_category
Bad                   0.0         0.0  178.0        94.0    25.0
Good               3380.0         0.0  504.0       316.0    85.0
Normal               60.0         0.0  288.0       227.0  1206.0
Very bad              0.0         5.0   10.0         6.0     1.0
Very good           275.0         0.0   90.0      6903.0   190.0

### Encoding

In [ ]:
def encode_values(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets_1st = basket_1st_year.applymap(encode_values)
basket_sets_2nd = basket_2nd_year.applymap(encode_values)
basket_sets_3rd = basket_3rd_year.applymap(encode_values)
basket_sets_4th = basket_4th_year.applymap(encode_values)
basket_sets_not = basket_Not_applicable.applymap(encode_values)

In [ ]:
basket_sets_not

Location          College  Department  Home  Playground  School
Emotion_category
Bad                     0           0     1           1       1
Good                    1           0     1           1       1
Normal                  1           0     1           1       1
Very bad                0           1     1           1       1
Very good               1           0     1           1       1

### Apriori Algorithm to Generate Frequent Item Sets

In [ ]:
from itertools import combinations

def Apriori_Algorithm (data, min_support=0.02, max_length = 2):
    support = {} 
    L= list(data.columns)
    
    for i in range(1, max_length+1):
        comb = set(combinations(L,i))
        
        L =set()     
        for j in list(comb):
            sup = data.loc[:,j].product(axis=1).sum()/len(data.index)
            
            if sup > min_support:
                support[j] = sup
                L = list(set(L) | set(j))
        
    itemset = pd.DataFrame(list(support.items()), columns = ["Items", "Support"])
    return(itemset)

In [ ]:
frequent_item_sets_1st = Apriori_Algorithm (basket_sets_1st, 0.04, 3)
frequent_item_sets_1st.sort_values(by = 'Support', ascending =False)

                            Items  Support
1                         (Home,)      1.0
2                   (Department,)      1.0
4              (Department, Home)      1.0
0                   (Playground,)      0.4
3        (Department, Playground)      0.4
5              (Playground, Home)      0.4
6  (Department, Playground, Home)      0.4

In [ ]:
frequent_item_sets_2nd = Apriori_Algorithm (basket_sets_2nd, 0.04, 3)
frequent_item_sets_2nd.sort_values(by = 'Support', ascending =False)

                Items  Support
0             (Home,)      1.0
1       (Department,)      1.0
2  (Department, Home)      1.0

In [ ]:
frequent_item_sets_3rd = Apriori_Algorithm (basket_sets_3rd, 0.04, 3)
frequent_item_sets_3rd.sort_values(by = 'Support', ascending =False)

                            Items  Support
1                         (Home,)      1.0
2                   (Department,)      0.8
4              (Department, Home)      0.8
0                   (Playground,)      0.4
3        (Department, Playground)      0.4
5              (Playground, Home)      0.4
6  (Department, Playground, Home)      0.4

In [ ]:
frequent_item_sets_4th = Apriori_Algorithm (basket_sets_4th, 0.04, 3)
frequent_item_sets_4th.sort_values(by = 'Support', ascending =False)

                            Items  Support
1                         (Home,)      1.0
2                   (Department,)      1.0
4              (Department, Home)      1.0
0                   (Playground,)      0.4
3        (Department, Playground)      0.4
5              (Playground, Home)      0.4
6  (Department, Playground, Home)      0.4

In [ ]:
frequent_item_sets_not = Apriori_Algorithm (basket_sets_not, 0.04, 3)
frequent_item_sets_not.sort_values(by = 'Support', ascending =False)

                               Items  Support
0                          (School,)      1.0
2                      (Playground,)      1.0
8               (School, Playground)      1.0
9                     (School, Home)      1.0
1                            (Home,)      1.0
11                (Playground, Home)      1.0
15        (School, Playground, Home)      1.0
19     (College, School, Playground)      0.6
4                         (College,)      0.6
5              (College, Playground)      0.6
17           (College, School, Home)      0.6
12                 (College, School)      0.6
13                   (College, Home)      0.6
14       (College, Playground, Home)      0.6
16        (Department, School, Home)      0.2
18  (Department, School, Playground)      0.2
10          (Department, Playground)      0.2
7                 (Department, Home)      0.2
6               (Department, School)      0.2
3                      (Department,)      0.2
20    (Department, Playground, Home)      0.2

### Generate Association Rules Using Frequent Item Sets

In [ ]:
from itertools import permutations
def Generate_Association_Rules (df, min_threshold=0.5):
    support = pd.Series(df.Support.values, index=df.Items).to_dict()
    data = []
    L= df.Items.values
    perm = list(permutations(L, 2))
    
    # Iterating through each rule
    for i in perm:
        if set(i[0]).issubset(i[1]):
            conf = support[i[1]]/support[i[0]]
            
            if conf > min_threshold:
                j = i[1][not i[1].index(i[0][0])]
                lift = support[i[1]]/(support[i[0]]* support[(j,)])
                leverage = support[i[1]] - (support[i[0]]* support[(j,)])
                data.append([i[0], (j,), support[i[0]], support[(j,)], support[i[1]], conf, lift, leverage])

         

    out = pd.DataFrame(data, columns = ["antecedents", "consequents", "antecedent support", "consequent support",
                                        "support", "confidence", "Lift", "Leverage"])
    return(out)

In [ ]:
rules_not = Generate_Association_Rules (frequent_item_sets_not, 0.2)
rules_not

,antecedents,consequents,antecedent support,consequent support,support,confidence,Lift,Leverage
0,"(School,)","(Playground,)",1.0,1.0,1.0,1.0,1.0,0.0
1,"(School,)","(Home,)",1.0,1.0,1.0,1.0,1.0,0.0
2,"(School,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
3,"(School,)","(Playground,)",1.0,1.0,1.0,1.0,1.0,0.0
4,"(School,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
5,"(School,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
6,"(Home,)","(School,)",1.0,1.0,1.0,1.0,1.0,0.0
7,"(Home,)","(Playground,)",1.0,1.0,1.0,1.0,1.0,0.0
8,"(Home,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
9,"(Home,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
10,"(Home,)","(School,)",1.0,1.0,1.0,1.0,1.0,0.0
11,"(Home,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
12,"(Playground,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
13,"(Playground,)","(School,)",1.0,1.0,1.0,1.0,1.0,0.0
14,"(Playground,)","(Home,)",1.0,1.0,1.0,1.0,1.0,0.0
15,"(Playground,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
16,"(Playground,)","(School,)",1.0,1.0,1.0,1.0,1.0,0.0
17,"(Playground,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
18,"(Department,)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
19,"(Department,)","(Home,)",0.2,1.0,0.2,1.0,1.0,0.0
20,"(Department,)","(Playground,)",0.2,1.0,0.2,1.0,1.0,0.0
21,"(Department,)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
22,"(Department,)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
23,"(Department,)","(Playground,)",0.2,1.0,0.2,1.0,1.0,0.0
24,"(College,)","(Playground,)",0.6,1.0,0.6,1.0,1.0,0.0
25,"(College,)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
26,"(College,)","(Home,)",0.6,1.0,0.6,1.0,1.0,0.0
27,"(College,)","(Playground,)",0.6,1.0,0.6,1.0,1.0,0.0
28,"(College,)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
29,"(College,)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
30,"(College, Playground)","(Playground,)",0.6,1.0,0.6,1.0,1.0,0.0
31,"(College, Playground)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
32,"(Department, School)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
33,"(Department, School)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
34,"(Department, Home)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
35,"(Department, Home)","(Playground,)",0.2,1.0,0.2,1.0,1.0,0.0
36,"(School, Playground)","(Playground,)",1.0,1.0,1.0,1.0,1.0,0.0
37,"(School, Playground)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
38,"(School, Home)","(Playground,)",1.0,1.0,1.0,1.0,1.0,0.0
39,"(School, Home)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
40,"(Department, Playground)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
41,"(Department, Playground)","(Playground,)",0.2,1.0,0.2,1.0,1.0,0.0
42,"(Playground, Home)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
43,"(Playground, Home)","(School,)",1.0,1.0,1.0,1.0,1.0,0.0
44,"(College, School)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
45,"(College, School)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
46,"(College, Home)","(Playground,)",0.6,1.0,0.6,1.0,1.0,0.0
47,"(College, Home)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0

In [ ]:
rules_not['confidence'].min()

0.6

In [ ]:
rules_not.sort_values(by='confidence', ascending= False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,Lift,Leverage
0,"(School,)","(Playground,)",1.0,1.0,1.0,1.0,1.0,0.0
23,"(Department,)","(Playground,)",0.2,1.0,0.2,1.0,1.0,0.0
25,"(College,)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
26,"(College,)","(Home,)",0.6,1.0,0.6,1.0,1.0,0.0
27,"(College,)","(Playground,)",0.6,1.0,0.6,1.0,1.0,0.0
28,"(College,)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
29,"(College,)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
30,"(College, Playground)","(Playground,)",0.6,1.0,0.6,1.0,1.0,0.0
31,"(College, Playground)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
32,"(Department, School)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
33,"(Department, School)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
34,"(Department, Home)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
35,"(Department, Home)","(Playground,)",0.2,1.0,0.2,1.0,1.0,0.0
36,"(School, Playground)","(Playground,)",1.0,1.0,1.0,1.0,1.0,0.0
38,"(School, Home)","(Playground,)",1.0,1.0,1.0,1.0,1.0,0.0
40,"(Department, Playground)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
41,"(Department, Playground)","(Playground,)",0.2,1.0,0.2,1.0,1.0,0.0
43,"(Playground, Home)","(School,)",1.0,1.0,1.0,1.0,1.0,0.0
44,"(College, School)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
45,"(College, School)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
46,"(College, Home)","(Playground,)",0.6,1.0,0.6,1.0,1.0,0.0
1,"(School,)","(Home,)",1.0,1.0,1.0,1.0,1.0,0.0
24,"(College,)","(Playground,)",0.6,1.0,0.6,1.0,1.0,0.0
22,"(Department,)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
14,"(Playground,)","(Home,)",1.0,1.0,1.0,1.0,1.0,0.0
3,"(School,)","(Playground,)",1.0,1.0,1.0,1.0,1.0,0.0
6,"(Home,)","(School,)",1.0,1.0,1.0,1.0,1.0,0.0
7,"(Home,)","(Playground,)",1.0,1.0,1.0,1.0,1.0,0.0
21,"(Department,)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
13,"(Playground,)","(School,)",1.0,1.0,1.0,1.0,1.0,0.0
10,"(Home,)","(School,)",1.0,1.0,1.0,1.0,1.0,0.0
47,"(College, Home)","(School,)",0.6,1.0,0.6,1.0,1.0,0.0
18,"(Department,)","(School,)",0.2,1.0,0.2,1.0,1.0,0.0
20,"(Department,)","(Playground,)",0.2,1.0,0.2,1.0,1.0,0.0
19,"(Department,)","(Home,)",0.2,1.0,0.2,1.0,1.0,0.0
16,"(Playground,)","(School,)",1.0,1.0,1.0,1.0,1.0,0.0
2,"(School,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
4,"(School,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
5,"(School,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
42,"(Playground, Home)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
15,"(Playground,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
8,"(Home,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
37,"(School, Playground)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
9,"(Home,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
17,"(Playground,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
11,"(Home,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
12,"(Playground,)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0
39,"(School, Home)","(College,)",1.0,0.6,0.6,0.6,1.0,0.0